@font-face{
    font-family:or;
    src:url("../font/Ordibehesht.TTF");
}
@font-face{
    font-family:yk;
    src:url("../font/Yekan.ttf");
}

.ghb {

    margin: 20px;
    border: solid 2px #ffbc12;
    border-radius: 10px;
    background: linear-gradient(10deg, #333333, #666666);
    filter: drop-shadow(1px 1px 5px black);
    transition: all 0.2s;


}
.ghb:hover{

    border: solid 2px #ffbc12;
    border-radius: 10px;
    background: linear-gradient(10deg, #333333, #ffd000);
    filter: drop-shadow(2px 2px 15px black);


}
.navar {

    border: solid 1px #ffbc12;
    border-radius: 7px;
    background: linear-gradient(180deg, #666666,#333333);
    filter: drop-shadow(1px 1px 5px black);



}
.img{

    width: 200px;
    height: 200px;
    margin-left: 36px;
    margin-top: 37px;
    border: solid 2px #9a9a9a;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 5px #ffbc12);
    transition: all 0.5s;
}
.img:hover{

    width: 200px;
    height: 200px;
    margin-left: 36px;
    margin-top: 37px;
    border: solid 2px #9a9a9a;
    border-radius: 10px;

}
.border{



    background-color: white;
    filter: opacity(90%);



}
.line{

    margin-top: 40px;
    font-family: yk;
    background-color: #ffe514;
    margin-left: 4px;
    margin-right: 4px;
    height: 2px;
    border-radius: 4px;
    transition: all 0.4s;
    font-size: 20px;




}
.line:hover{

    height: 35px;
    font-size: 22px;
}